.container_buscador {
    width: 450px;
    margin: 100px 0 0 40px;
    display: flex;
    align-items: center;
    position: absolute;
}

.container_buscador input {
    width: 290px;
    margin: 0 15px 0 0;
    padding: 10px;
    border-radius: 10px;
    font-family: "Flexo-Medium",arial,sans-serif;
}

.container_buscador button {
    width: 50px;
    height:50px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 1px 2px;
    background: red;
}

.container_buscador button:active {
    transform: scale(.9);
    transition: all .2s;
}